<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771236730247-6q1raoo5gh2o07vlqkdntoe3a7kffks9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771236730247-6q1raoo5gh2o07vlqkdntoe3a7kffks9</string>
	<key>API_KEY</key>
	<string>AIzaSyAHECkZG2Z6iS27ue61JUPwwvOhUO41PQc</string>
	<key>GCM_SENDER_ID</key>
	<string>771236730247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>llla.Password-Manager</string>
	<key>PROJECT_ID</key>
	<string>password-manager-77234</string>
	<key>STORAGE_BUCKET</key>
	<string>password-manager-77234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771236730247:ios:1e4ebbc8be222043902f22</string>
</dict>
</plist>